html 
{
	font-family: Arial; 
	display: inline-block; 
	text-align: center;
}
p 
{  
	font-size: 1.2rem;
}
body 
{  
	margin: 0;
	background-color: var(--background-color);
}

/* ----------------------------------------------------------------------------------------- */
/* Style the navigation menu */

.topnav 
{ 
	overflow: hidden; 
	background-color: var(--accent2-color);
	color: var(--accent-text-color); 
	font-size: 1.7rem;
	position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #menuElements 
{
	display: none;
}

/* Style navigation menu links */
.topnav a 
{
	color: var(--accent-text-color);
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	display: block;
}

/* Style the hamburger menu */
.topnav a.icon 
{
	background: var(--hamburger-menu-color);
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover 
{
	background-color: var(--mouse-over-background);
	color: var(--mouse-over-text-color);
}

.topnav #Heading
{
	font-size: 40px;
	background-color: var(--accent1-color);
	color: var(--accent-text-color);
}

.topnav #SubHeading
{
	font-size: 30px;
	background-color: var(--accent1-color);
	color: var(--accent-text-color);
}

/* ----------------------------------------------------------------------------------------- */

.content 
{ 
	padding: 20px;
	color: var(--text-color);
}
.timestamp 
{ 
	color: var(--text-color); 
}
.card 
{ 
	background-color: var(--background-color); 
	box-shadow: 2px 2px 12px 1px var(--box-shadow-color); /*rgba*/ 
}
.cards 
{ 
	max-width: 700px; 
	margin: 0 auto; 
	display: grid; 
	grid-gap: 2rem; 
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
}
.reading 
{ 
	font-size: 2.8rem; 
}
.card.sensorinfo1
{ 
	color: var(--sensor1-color);
}
.card.sensorinfo2
{ 
	color: var(--sensor2-color);
}
	
/* -----------------------------------------------------------------------------------------
Form */
.input_sensor1
{
	font-size: 1.2rem;
	color: var(--sensor1-color);
}
.input_sensor2
{
	font-size: 1.2rem;
	color: var(--sensor2-color); 
}
.submitinput_sensor
{
	background-color: var(--accent1-color);
	border: none; 
	color: var(--accent-text-color); 
	padding: 5px 20px; 
	text-decoration: none; 
	font-size: 20px; 
	margin: 10px; 
	cursor: pointer;
}
	
/* Add a grey background color on mouse-over */
.submitinput_sensor:hover 
{
	background-color: var(--mouse-over-background);
	color: var(--mouse-over-text-color);
}

/* ----------------------------------------------------------------------------------------- */

:root 
{
	--background-color: #FFFFFF;
	--text-color: #121416d8;
	--box-shadow-color: #8C8C8C80; /*rgba*/ 
	--accent1-color: #228b22;
	--accent2-color: #009900;
	--accent-text-color: #FFFFFF;
	--sensor1-color: #FD7E14;
	--sensor2-color: #1B78E2;
	--hamburger-menu-color: #000000;
	--mouse-over-background: #DDDDDD;
	--mouse-over-text-color: #000000;
	--chart-grid-line-color: #CCCCCC;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark)
{
	:root
	{
		--background-color: #212a2e;
		--text-color: #F7F8F8;
		--box-shadow-color: #8C8C8C80; /*rgba*/
		--accent1-color: #228b22;
		--accent2-color: #009900;
		--accent-text-color: #FFFFFF;
		--sensor1-color: #FD7E14;
		--sensor2-color: #1B78E2;
		--hamburger-menu-color: #000000;
		--mouse-over-background: #DDDDDD;
		--mouse-over-text-color: #000000;
		--chart-grid-line-color: #666666;
	}
}