html 
{
	font-family: Arial; 
	display: inline-block; 
	text-align: center;
}

p 
{  
	font-size: 1.2rem;
}

i
{
	vertical-align: middle;
}

body 
{  
	margin: 0;
	background-color: var(--background-color);
}

#Heading
{
	position: sticky;
	top: 0;
	font-size: 40px;
	background-color: var(--accent1-color);
	color: var(--accent-text-color);
	z-index: 10;	/* use a high value here. Otherwise the charts are displayed on top */
}

#SubHeading
{
	font-size: 30px;
	background-color: var(--accent1-color);
	color: var(--accent-text-color);
	z-index: 10;	/* use a high value here. Otherwise the charts are displayed on top */
}

/* ----------------------------------------------------------------------------------------- */
/* Style the navigation menu (mobile and desktop)											 */
/* https://www.w3schools.com/howto/howto_css_bottom_nav.asp */

nav
{
	overflow: hidden;
	width: 100%;
	background-color: var(--menu-background-color);
	z-index: 10;	/* use a high value here. Otherwise the charts are displayed on top */
}

/* Style the links inside the navigation bar */
nav a 
{
	display: inline-block;
	color: var(--menu-text-color);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the color of links on hover */
nav a:hover 
{
	background-color: var(--mouse-over-background);
	color: var(--mouse-over-text-color);
}

/* Add a color to the active/current link */
nav a.active 
{
	background-color: var(--accent1-color);
	color: var(--accent-text-color);
}

/* navigation menu for mobile */
@media only screen and (max-width: 480px)
{
	.size-controller
	{
		width: 100%;
	}
	.content 
	{
		margin-bottom: 70px;			/* to fit the bottom nav-mobile */
	}
	nav
	{
		position: fixed;
		bottom: 0;
	}
	nav a 
	{
		font-size: 0;
	}
	nav a .material-symbols-outlined
	{
		font-size: 40px;
	}
}

/* navigation menu for desktop */
@media only screen and (min-width: 480px)
{	
	nav
	{
		position: sticky;
		top: 45px;
	}
	nav a
	{
		font-size: 20px;
	}
	#SubHeading
	{
		display: none;
	}
}

/* ----------------------------------------------------------------------------------------- */

.content 
{ 
	padding: 20px;
	color: var(--text-color);
}
.timestamp 
{ 
	color: var(--text-color); 
}
.card 
{ 
	background-color: var(--background-color); 
	box-shadow: 2px 2px 12px 1px var(--box-shadow-color);
}
.cards 
{ 
	max-width: 800px; 
	margin: 0 auto; 
	display: grid; 
	grid-gap: 2rem; 
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
}
.reading 
{ 
	font-size: 2.8rem; 
}
.card.sensor1
{ 
	color: var(--sensor1-color);
}
.card.sensor2
{ 
	color: var(--sensor2-color);
}
.card.general
{ 
	color: var(--text-color);
}

.error
{
	color: var(--error-color);
}
.error a
{
	color: var(--error-color);
}
	
/* -----------------------------------------------------------------------------------------
Form */
.input_sensor
{
	font-size: 1.2rem;
	background: var(--background-color);
	color: var(--text-color);
	text-align: center;
	border-radius: .3em;
	border-style: solid;
	border-width: thin;
	border-color: var(--accent1-color);
}
.submit_button
{
	background-color: var(--accent1-color);
	border: none; 
	color: var(--accent-text-color); 
	padding: 5px 20px; 
	text-decoration: none; 
	font-size: 20px; 
	margin: 10px; 
	cursor: pointer;
}
	
/* Add a grey background color on mouse-over */
.submit_button:hover 
{
	background-color: var(--mouse-over-background);
	color: var(--mouse-over-text-color);
}

.submit_button:disabled 
{
	background-color: var(--disabled-background);
	color: var(--disabled-text-color);
}

/* https://www.sliderrevolution.com/resources/css-select-styles/ */
/* Pure CSS select option, Designed by: Anna Blok */
select
{
	border:0!important;
	background: var(--background-color);
	color: var(--text-color);
	text-align: center;
	flex: 1;
	padding: 0 .5em;
	cursor:pointer;
	font-size: 1.2em;
}
.select-arrow
{
	position: relative;
	display: flex;
	margin: 0 1.5em;
	height: 1.5em;
	line-height: 1.5;
	overflow: hidden;
	color: var(--accent1-color);
	border-radius: .3em;
	border-style: solid;
	border-width: thin;
	border-color: var(--accent1-color);
}
.select-arrow::after
{
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background: var(--background-color);
	cursor:pointer;
	pointer-events:none;
	transition:.25s all ease;
}
.select-arrow:hover::after
{
	color: var(--text-color);
}

/* ----------------------------------------------------------------------------------------- */

:root 
{
	--background-color: #F7F8F8;
	--text-color: #121416d8; 			/*rgba*/ 
	--box-shadow-color: #8C8C8C80; 		/*rgba*/ 
	--accent1-color: #228b22;
	--accent-text-color: #F7F8F8;
	--sensor1-color: #FD7E14;
	--sensor2-color: #3690F7;
	--menu-background-color: #121416;	/*rgba*/ 
	--menu-text-color: #F7F8F8;	
	--mouse-over-background: #CCCCCC;
	--mouse-over-text-color: #000000;
	--chart-grid-line-color: #CCCCCC; 
	--disabled-background: #EEEEEE;
	--disabled-text-color: #FFFFFF;
	--chart-loading-background: #999999;
	--chart-loading-text-color: #000000;
	--error-color: #FF0000;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark)
{
	:root
	{
		--background-color: #212a2e;
		--text-color: #F7F8F8;
		--box-shadow-color: #8C8C8C80; 		/*rgba*/
		--accent1-color: #228b22;
		--accent-text-color: #F7F8F8;
		--sensor1-color: #FD7E14;
		--sensor2-color: #3690F7;		
		--menu-background-color: #D7D8D8;	/*rgba*/ 
		--menu-text-color: #212a2e;		
		--mouse-over-background: #CCCCCC;
		--mouse-over-text-color: #000000;
		--chart-grid-line-color: #666666;
		--disabled-background: #222222;
		--disabled-text-color: #FFFFFF;
		--chart-loading-background: #FFFFFF;
		--chart-loading-text-color: #212a2e;
		--error-color: #FF5555;
	}
}